@use 'var';

.main {
    display:flex;
    justify-content:center;
    align-items: center;
    margin: auto;
    margin: 2%;
    font-weight: 900;
    .title {
        flex-direction: column;
        width: 450px;
    }
    .title, iframe {
        margin: 0 5%;
    }
    h1 {
        font-size: 1cm;
        border-bottom: 2px solid white;
    }
    p {
        font-size: 0.5cm;
        margin-top: 2%;
    }
    iframe {
        padding: 2% 0;
    }
}