@use 'var';

.main {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin: 2%;
    font-weight: 900;
    h1 {
        font-size: 1cm;
        border-bottom: 2px solid white;
        width: 450px;
    }
    p {
        color:white;
        font-size: 0.5cm;
        margin-top: 2%;
    }
    .job {
        display:flex;
        flex-direction: column;
    }
    .content, img {
        margin: 0 5%;
    }
    .content {
        flex-direction: column;
    }
    img {
        width: 20%;
        height: 20%;
    }
}